<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
  <appSettings>
    <add key="PV" value="..\..\..\..\..\My Works\tile_arabic.svg" />
    <add key="PV Budak" value="..\..\..\..\..\My Works\tile_arabic_budak.svg" />
    <add key="BA" value="..\..\..\..\..\My Works\tile_andalus.svg" />
    <add key="2' Batu Batik(L)" value="..\..\..\..\..\My Works\nisan_20L.svg" />
    <add key="2' Batu Batik(P)" value="..\..\..\..\..\My Works\nisan_20P.svg" />
    <add key="2' Batu Putih(L)" value="..\..\..\..\..\My Works\nisan_20L.svg" />
    <add key="2' Batu Putih(P)" value="..\..\..\..\..\My Works\nisan_20P.svg" />
    <add key="2' Batu Hijau(L)" value="..\..\..\..\..\My Works\nisan_20L.svg" />
    <add key="2' Batu Hijau(P)" value="..\..\..\..\..\My Works\nisan_20P.svg" />
    <add key="2' Batu Hitam(L)" value="..\..\..\..\..\My Works\nisan_20L.svg" />
    <add key="2' Batu Hitam(P)" value="..\..\..\..\..\My Works\nisan_20P.svg" />
    <add key="2' Sticker(L)" value="..\..\..\..\..\My Works\sticker_20L.svg" />
    <add key="2' Sticker(P)" value="..\..\..\..\..\My Works\sticker_20P.svg" />
    <add key="2½' Sticker(L)" value="..\..\..\..\..\My Works\sticker_25L.svg" />
    <add key="2½' Sticker(P)" value="..\..\..\..\..\My Works\sticker_25P.svg" />
    <add key="1½' Sticker(L)" value="..\..\..\..\..\My Works\sticker_15L.svg" />
    <add key="1½' Sticker(P)" value="..\..\..\..\..\My Works\sticker_15P.svg" />
  </appSettings>
</configuration>