<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PV" value="..\..\..\Jawi\tile_arabic.svg"/>
    <add key="PV Budak" value="..\..\..\Jawi\tile_arabic_budak.svg"/>
    <add key="BA" value="..\..\..\Jawi\tile_andalus.svg"/>
    <add key="2' Batu Batik(L)" value="..\..\..\Jawi\nisan_20L.svg"/>
    <add key="2' Batu Batik(P)" value="..\..\..\Jawi\nisan_20P.svg"/>
    <add key="2' Batu Putih(L)" value="..\..\..\Jawi\nisan_20L.svg"/>
    <add key="2' Batu Putih(P)" value="..\..\..\Jawi\nisan_20P.svg"/>
    <add key="2' Batu Hijau(L)" value="..\..\..\Jawi\nisan_20L.svg"/>
    <add key="2' Batu Hijau(P)" value="..\..\..\Jawi\nisan_20P.svg"/>
    <add key="2' Batu Hitam(L)" value="..\..\..\Jawi\nisan_20L.svg"/>
    <add key="2' Batu Hitam(P)" value="..\..\..\Jawi\nisan_20P.svg"/>
    <add key="2' Sticker(L)" value="..\..\..\Jawi\sticker_20L.svg"/>
    <add key="2' Sticker(P)" value="..\..\..\Jawi\sticker_20P.svg"/>
    <add key="2½' Sticker(L)" value="..\..\..\Jawi\sticker_25L.svg"/>
    <add key="2½' Sticker(P)" value="..\..\..\Jawi\sticker_25P.svg"/>
    <add key="1½' Sticker(L)" value="..\..\..\Jawi\sticker_15L.svg"/>
    <add key="1½' Sticker(P)" value="..\..\..\Jawi\sticker_15P.svg"/>
  </appSettings>
</configuration>