<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PV" value="..\..\..\Jawi\tile_arabic.svg"/>
    <add key="BA" value="..\..\..\Jawi\tile_andalus.svg"/>
    <add key="2' Batu Batik(L)" value="..\..\..\Jawi\nisan_normal_L.svg"/>
    <add key="2' Batu Batik(P)" value="..\..\..\Jawi\nisan_normal_P.svg"/>
    <add key="2' Batu Putih(L)" value="..\..\..\Jawi\nisan_normal_L.svg"/>
    <add key="2' Batu Putih(P)" value="..\..\..\Jawi\nisan_normal_P.svg"/>
    <add key="2' Batu Hijau(L)" value="..\..\..\Jawi\nisan_normal_L.svg"/>
    <add key="2' Batu Hijau(P)" value="..\..\..\Jawi\nisan_normal_P.svg"/>
    <add key="2' Batu Hitam(L)" value="..\..\..\Jawi\nisan_normal_L.svg"/>
    <add key="2' Batu Hitam(P)" value="..\..\..\Jawi\nisan_normal_P.svg"/>
  </appSettings>
</configuration>