body {
}
.leftCol
{
	float: left;
}
.rightCol
{
	float: left;
}
.footer
{
	clear: both;
	text-align: center;
	font-size: xx-small;
}

.labeling
{
	clear: both;
	float: left;
	text-align: right;
	width: 80px;
}
.entry
{
	float: left;
}
.button
{
	float: left;
	margin-left: 10px;
}

.filter
{
	background-color: whitesmoke;
}



/**
 * Make a horizontal list.
 *
 * @see http://css.maxdesign.com.au/listamatic/horizontal01.htm
 */
#navlist li
{
	display: inline; /* hack */
	list-style-type: none;
	padding-right: 20px;
}


/**
 *
 * @see http://www.communitymx.com/content/article.cfm?page=2&cid=27F87
 */
.navi li
{
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}
.navi .col1{margin-left: 0em;}
.navi .col2{margin-left: 16em;}
.navi .col3{margin-left: 23em;}

.navi .coltopper
{
	margin-top: -6.5em;
}