body {
}
.leftCol
{
	float: left;
}
.rightCol
{
	float: left;
}
.footer
{
	clear: both;
	text-align: center;
	font-size: xx-small;
}

.labeling
{
	clear: both;
	float: left;
	text-align: right;
	width: 80px;
}
.entry
{
	float: left;
}
.button
{
	float: left;
	margin-left: 10px;
}

.filter
{
	background-color: whitesmoke;
}